@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="full-screen-container">
    <div class="form-container">
        <h1 class="brand-title">Fertilizer360</h1>
        <p class="sub-title">Enter a new password</p>

        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Code" />

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-signup">Reset Password</button>
        </form>
    </div>

    <div class="image-container">
        <img src="https://www.bhg.com/thmb/NIhXZpszfRkBe6_4hv8BDfwl7vU=/4000x0/filters:no_upscale():strip_icc()/BHG-Types-of-Garden-Fertilizer-Fb-fTYGcqqK9y1MGOlfzOh-52e52c5904ad4418ba764013ab322c90.jpg" alt="Fertilizer Products">
    </div>
</div>
